# Server
# DATABASE_URL=

# Client (must be prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Convex (written by `npx convex dev`)
# CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
# NEXT_PUBLIC_CONVEX_SITE_URL=
